:root {
  --text-color: #434455;
  --white-color: #ffffff;
  --blue-color: #4d5ae5;
  --hover-color: #404bbf;
  --black-color: #2e2f42;
  --ourteam-back-color: #f4f4fd;
  --footer-text-color: #f4f4fd;
}
/* Link Options */
a {
  text-decoration: none;
  color: var(--black-color);
}
.header-link:hover,
.adress-link:hover {
  color: var(--hover-color);
}
.header-link:focus,
.adress-link:focus,
.buner_btn:focus {
  color: var(--hover-color);
}
.buner_btn:hover {
  background-color: var(--hover-color);
}
.buner_btn:focus {
  background-color: var(--hover-color);
}

/* Reset browser styles */
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
p,
h1,
h2,
h3 {
  margin: 0;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}
body {
  width: 1158px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--white-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
}

/* Header */
header {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-color);
  margin-right: 76px;
}
.logo_studio_head {
  color: var(--black-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  padding: 24px 0;
  display: block;
}
.nav {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: var(--black-color);
}

.address-list {
  display: flex;
  gap: 40px;
}
.adress-link {
  color: var(--text-color);
}
.address {
  margin-left: 332px;
  font-size: 16px;
  font-style: normal;
  color: var(--text-color);
}

/* Main */
.buner {
  background: var(--black-color);
  margin: 0 auto;
}
.buner_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--blue-color);
}
.buner_btn_text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.buner_h {
  padding-top: 188px;
  padding-bottom: 292px;
  min-width: 496px;
  margin-bottom: 48px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
/* Our Ruls */
.container-ruls {
  display: flex;
}
.our_ruls_list {
  background-color: var(--white-color);
  display: flex;
  gap: 24px;
  margin-top: 120px;
  margin-left: 156px;
}
.our_ruls_h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
/* .our_ruls_text {
} */

/* Our Team */
.visually-hidden {
  display: none;
}
.our_team_list {
  background-color: var(--white-color);
  display: flex;
  gap: 24px;
}
.our_team {
  background: var(--ourteam-back-color);
}
.our_team_cards {
  background-color: var(--white-color);
}
.our_team_h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--black-color);
}
.our_team_name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.our_team_job {
  text-align: center;
}
/* Our Portfolio */
/* .our_prj {
} */
.our_prj_list {
  background-color: var(--white-color);
  display: flex;
  gap: 24px;
}
.our_prj_h {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our_prj_cards {
  border-bottom: 1px solid #e7e9fc;
}
.our_prj_app {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
/* .our_prj_app_text {
} */
/* Footer */
.footer_main {
  background-color: var(--black-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-color);
}
.logo_studio_foot {
  color: var(--footer-text-color);
}
.footer_text {
  color: var(--footer-text-color);
}
